.movie-container-body {
    background-color: #f1eeea;
    padding: 12px 8px 50px 8px;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.header-container {
    position: sticky;
    top: 0px;
    padding: 6px 15px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);

    .logo-container {
        display: flex;
        align-items: center;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-item {
            .menu-link {
                color: #333 !important;
            }

            &:hover {
                .menu-link {
                    background-color: #f6eef0 !important;
                }
            }
        }
    }
}

.movie-slider-container {
    width: calc(100% - 110px);
    margin: 0px auto 12px auto;
}

.movie-slide {
    max-height: 620px;
}

.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5px;

    .movie-item {
        margin: 0px 6px 12px 6px;

        .image-card {

            img {
                object-fit: cover;
            }
        }

        .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 128px;
            font-weight: bold;
            margin-top: 2px;
            color: #333;
        }
    }
}

.vertical-and-hz-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-close-btn {
    padding: 6px 1px;
    place-items: center;
    width: 30px;
    border: 1px solid #e6e6e6;
}

.search-bar {
    transform: translate(-50%, -6px);
    position: fixed;
    bottom: 0px;
    right: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 6px;
    background-color: #fafafa;
    max-width: 650px;
    width: calc(100% - 20px);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);

    .search-input {
        background-color: #fafafa;
    }
}